:root {
    --dark: #5cdb95;
    --darkRed: #dcf1bc;
    --darkPurple: #0e5ead;
    --lightPurple: #05386b;
    --lightGrey: #adadad;
  }
* {
    padding: 25px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--dark), var(--darkRed));
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
}

.employeeCard{
    margin: 20px;
    background: linear-gradient(to right, var(--lightPurple),var(--darkPurple));
    border: 1px solid rgba(82, 82, 82, 0.3);;
    border-radius: 25px;
    box-shadow: 5px 10px rgba(82, 82, 82, 0.3);;
    width: 25vw;
    color: whitesmoke;
}
.employeeImageContainer{
    padding: 0;
}
img {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 15px;
}
.employeeName {
    text-align: center;
    font-size: 25px;
}
.employeeInfo {
    text-align: center;
    line-height: 35px;
}